<ng-container *transloco="let t">
  <ng-container *transloco="let tHome; scope: 'home'; read: 'home'">
    <app-header
      data-cy="home-title"
      title="Home Page"
      size="large"
    ></app-header>
    <ion-content [fullscreen]="true">
      <ion-progress-bar
        *ngIf="(stateModel$ | async)!.isLoading"
        type="indeterminate"
      ></ion-progress-bar>
      <div id="container">
        <h1 *ngIf="(stateModel$ | async)!.errorMessage">
          {{ t((stateModel$ | async)!.errorMessage) }}
        </h1>
        <clean-architecture-monorepo-user-card
          [userId]="(stateModel$ | async)!.user?.id"
        ></clean-architecture-monorepo-user-card>
        <ion-button data-cy="create-user" (click)="createUser()"
          >Create User</ion-button
        >
        <ion-button data-cy="delete-user" (click)="deleteUser()"
          >Delete User</ion-button
        >
        <ion-button data-cy="get-user" (click)="getUser()">Get User</ion-button>
      </div>
    </ion-content>
  </ng-container>
</ng-container>
