<ng-container *transloco="let t; read: 'homePage'">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Blank </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <h1 *ngIf="(stateModel$ | async)!.errorMessage">
        {{ (stateModel$ | async)!.errorMessage || 'Something went wrong' }}
      </h1>
      <ion-spinner *ngIf="(stateModel$ | async)!.isLoading"></ion-spinner>
      <h1>
        {{
          t('currentUserLabel', {
            userId: (stateModel$ | async)!.user?.id || 'unknown'
          })
        }}
      </h1>
      <ion-button (click)="createUser()">Create User</ion-button>
      <ion-button (click)="deleteUser()">Delete User</ion-button>
      <ion-button (click)="getUser()">Get User</ion-button>
    </div>
  </ion-content>
</ng-container>
